<div class="content-fontend">
    <div class="flex mb-4 frontend-item">
        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
           <div class="item-image">
             <img src="../../../../assets/images/stacks/frontend/html.svg" alt="html">
           </div>
           <div class="pt-2 font-bold text-xl text-gray-400 item-text">
             <span>HTML5</span>
           </div>
        </div>
        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/css.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>CSS3</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/sass.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>SASS</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/js.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>JavaScript</span>
          </div>
        </div>
    
    </div>

    <div class="flex mb-4 frontend-item second">

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/typescript.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>TypeScript</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/react.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>React</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
           <div class="item-image">
             <img src="../../../../assets/images/stacks/frontend/vue.svg" alt="html">
           </div>
           <div class="pt-2 font-bold text-xl text-gray-400 item-text">
             <span>VueJs</span>
           </div>
        </div>
        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../assets/images/stacks/frontend/angular.svg" alt="html">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>Angular</span>
          </div>
        </div>
    
    </div>
  </div>