<div class="content-backend">
    <div class="flex mb-4 backend-item">
        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
           <div class="item-image">
             <img src="../../../../../assets/images/stacks/backend/nodejs.svg" alt="nodejs">
           </div>
           <div class="pt-2 font-bold text-xl text-gray-400 item-text">
             <span>NodeJs</span>
           </div>
        </div>
        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../../assets/images/stacks/backend/php.svg" alt="php">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>PHP</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../../assets/images/stacks/backend/laravel.svg" alt="laravel">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>Laravel</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../../assets/images/stacks/backend/python.svg" alt="python">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>python</span>
          </div>
        </div>
    
    </div>

    <div class="flex mb-4 backend-item second">

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../../assets/images/stacks/backend/rails.svg" alt="rails">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>Ruby on Rails</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
          <div class="item-image">
            <img src="../../../../../assets/images/stacks/backend/ruby.svg" alt="ruby">
          </div>
          <div class="pt-2 font-bold text-xl text-gray-400 item-text">
            <span>Ruby</span>
          </div>
        </div>

        <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
           <div class="item-image">
             <img src="../../../../../assets/images/stacks/backend/expressjs.svg" alt="express">
           </div>
           <div class="pt-2 font-bold text-xl text-gray-400 item-text">
             <span>Express</span>
           </div>
        </div>
    
    </div>
  </div>