<div class="content-autotest">
  <div class="flex mb-4 autotest-item">
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
         <div class="item-image">
           <img src="../../../../../assets/images/stacks/autotest/appium.svg" alt="appium">
         </div>
         <div class="pt-2 font-bold text-xl text-gray-400 item-text">
           <span>Appium</span>
         </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/autotest/codeclimate.svg" alt="Code Climate">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Code Climate</span>
        </div>
      </div>

      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/autotest/codecov.svg" alt="Codecov">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Codecov</span>
        </div>
      </div>

      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/autotest/coveralls.svg" alt="Coveralls">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Coveralls</span>
        </div>
      </div>
  
  </div>

  <div class="flex mb-4 autotest-item second">
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/autotest/postman.svg" alt="Postman">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Postman</span>
        </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/autotest/travisci.svg" alt="travisci">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Travisci</span>
        </div>
      </div>
  </div>
</div>
