.technologie{
    background: #13162D;
}
.technologie .content .content-right .text-techno h2{
    font-weight: 600;
    color: #fff;
}

.technologie .content .content-right .text-techno p{
    font-weight: 300;
    color:#fefefe;
}

.technologie .content .content-right .meyllos-tab-nav{
    margin-top: 40px !important;
}
.technologie .content .content-right .meyllos-tab-nav .stack-tab-link {
    width: 100%;
    max-width: 270px;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 11px 15px;
    margin-bottom: 9px;
    color: #7E808C;
    background-color: #0E1124;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
     
}

.technologie .content .content-right .meyllos-tab-nav .stack-tab-link.active {
    color: #ffffff;
    background-color: #4c164d;
}
.technologie .content .content-right .meyllos-tab-nav .stack-tab-link:hover {
    color: #ffffff;
    background:#c69707;
}

.technologie .content .content-right .meyllos-tab-nav .stack-tab-link > .svg-icon:first-child {
    max-width: 28px;
    vertical-align: middle;
}
.technologie .content .content-right .meyllos-tab-nav .stack-tab-link > .svg-icon path:first-child {
    fill: #fff !important;
    vertical-align: middle;
}

.technologie .content .content-right .meyllos-tab-nav .stack-tab-link > span:last-child {
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1rem;
    letter-spacing: -.1px;
}

.clearfix::after {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
