.about{
    background: #1a202c url('../../../../assets/images/bground.svg')no-repeat center;
    background-size: cover;
}
.about .content{
    margin: auto;
    max-width: 75rem;
    color: white;
}
.about .content .right{
    padding-right: 2.5rem;
}
.about .content .right .about-image{
    width: 637px;
    height: 476px;
    position: relative;
}
.about .content .right .about-image .about-image-under, .image{
    position: absolute;
    box-shadow: 0 0 1px 0 rgba(24,51,47,.24), 
    0 24px 24px 0 rgba(24,51,47,.03),
    0 2px 2px 0 rgba(24,51,47,.03), 
    0 4px 4px 0 rgba(24,51,47,.03), 
    0 8px 8px 0 rgba(24,51,47,.03), 
    0 16px 16px 0 rgba(24,51,47,.03);
}
.about .content .right .about-image .image{
    position: absolute;
    width: 543px;
    height: 440px;
    top: 0;
    left: 0;
}
.about .content .right .about-image .about-image-under img{
    border-radius: 4px !important;
}
.about .content .right .about-image .image img{
    border-radius: 4px !important;
}

.about .content .right .about-image .about-image-under .portail-image .image, .image-bg {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.about .content .right .about-image .about-image-under{
    width: 528px;
    height: 412px;
    background: url("../../../../assets/images/socials/under.jpg") no-repeat 100% 100%;
    background-size: cover;
    bottom: 0;
    right: 0;
}
.about .content .right h2{
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: Gotham-Bold,sans-serif;
}
.about .content .right p{
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;

}
.about .content .left{
    padding-left: 1.5rem;

}

.about .content .left h2{
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: Gotham-Bold,sans-serif;
}
.about .content .left p{
    line-height: 1.6;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;

}


/* Responsive */


@media screen and (max-width: 1100px){
    .about .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .about .content .right{
        width: 100% !important;
    }
    .about .content .right .about-image .about-image-under{
       display: none;
    }
}

@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    .about .content .right .about-image .about-image-under {
        background: url("../../../../assets/images/socials/under.jpg") no-repeat;
        background-position: 100% 100% !important;
        background-size: contain !important;
        position: relative !important;
    }
}


@media screen and (max-width: 700px){
    .about .content .left{
        margin: 0;
        width: 100%;
    
    }
}
@media screen and (max-width: 600px){
    .about .content .left h2{
        font-size: 22px;
        line-height: 30px;
    }
    .about .content .left p{
        font-size: 14px;
        line-height: 26px;
        margin-top: 16px;
    }
    .about .content .left .second-mobile-text{
        margin-bottom: 12px;
        margin-top: -8px;
    }

}
