<div class="services">
    <div class="service-body bg-gray-600">
      <div class="service-text">
         <p>Our Services</p>
         <span>We provide a wide range of software development services.</span> <br>
         <span>Below are all the areas we are experts in. Areas where we collaborate with our clients and help them build great products.</span>
      </div>
        <div class="flex mb-4 sm:py-16 content">
            <div class="w-1/2 overflow-hidden sm:w-1/2 md:w-full lg:w-1/2 xl:w-1/2 right rounded overflow-hidden shadow-lg">
              <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                  <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                  </p>
              </div>
            </div>
            <div class="w-1/2 overflow-hidden sm:w-1/2 md:w-full lg:w-1/2 xl:w-1/2 left">
              <p>&nbsp;</p>
              <h2>Our Mission</h2>
              <p>Launched in the logic of positioning ourselves as leaders in the delivery 
                of IT solutions in the Central African region, day by day we apply ourselves to the upgrade of our skills and competences.
                 As knowledge sharing is one of our fondamental values, we have dedicated ourselves to popularizing what we know by helping 
                 young people to master new technologies through several learning workshops that we organize.
               </p>
               <p> We help businesses develop, innovate and compete in the continuously changing environment. Our team of experts go beyond the standards to understand your business needs and deliver the best solutions.</p>
            </div>
          </div>
    </div>
</div>
