.home-header header .container nav a {
    color:#1a202c !important;
}
.home-header header .container nav a:hover {
    color:#551a59 !important;
}
.home-header header .container nav  .send-project {
    border-color: 2px #1a202c solid;
}