<div class="content-infrastructure">
  <div class="flex mb-4 infrastructure-item">
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
         <div class="item-image">
           <img src="../../../../../assets/images/stacks/infrastructure/aws.svg" alt="aws">
         </div>
         <div class="pt-2 font-bold text-xl text-gray-400 item-text">
           <span>Amazon Web Services</span>
         </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/digitalocean.svg" alt="Digital Ocean">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Digital Ocean</span>
        </div>
      </div>

      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/docker.svg" alt="Docker">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Docker</span>
        </div>
      </div>

      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/gitlab.svg" alt="Gitlab">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Gitlab</span>
        </div>
      </div>
  
  </div>

  <div class="flex mb-4 infrastructure-item second">
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/googlecloud.svg" alt="Google Cloud Platform">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Google Cloud</span>
        </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/heroku.svg" alt="heroku">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Heroku</span>
        </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/netlify.svg" alt="Netlify">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Netlify</span>
        </div>
      </div>
      <div class="w-1/4 bg-gray-500 h-12 mr-4 items-stack">
        <div class="item-image">
          <img src="../../../../../assets/images/stacks/infrastructure/nginx.svg" alt="Nginx">
        </div>
        <div class="pt-2 font-bold text-xl text-gray-400 item-text">
          <span>Nginx</span>
        </div>
      </div>
  </div>
</div>
